{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <script src="{% static '/js/focuscontrol.js' %}"></script>
    <div class="container-md wrapper">
      <!-- <div class="col-sm"></div> -->
      <div class="col-md-auto">
        <nav class="navbar navbar-expand-md">
          <!-- <a class="navbar-brand tab_focused navbar-nav" href="/">FHI Nachhaltigkeitskarte</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li><a class="nav-item nav-link tab_focused navbar-nav" id="tab_map" href="/">FHI-Nutzpflanzenkarte</a></li>
              <li><a class="nav-item nav-link tab_background navbar-nav" id="tab_plant" href="/plants">Pflanzen</a></li>
            </ul>
          </div>
        </nav>

        <div id="content", name="content", class="content wrapper">
            <div class="row justify-content-center marged">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="mt-auto row footer marged">
          <div class="column col-sm-6" style="text-align: left;">
            <a class="invisble" href="/">Nutzpflanzenkarte</a></br>
            <a class="invisble" href="/plants">Pflanzenübersicht</a>
          </div>
          <div class="column col-sm-6" style="text-align: right;">
            Copyright © 2021 Marcel Endres</br>
            Content on <a href="https://github.com/mdotend/FHI_Campusmap">Github</a>
          </div>
        </footer>
      </div>
    </div>



    <script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
  </body>
</html>