{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <script>
      function changeActiveTab(pTab){
        var active_tabs = document.getElementsByClassName("tab_focused");
        for (var i = 0; i<active_tabs.length;i++){
          active_tabs[i].classList.replace("tab_focused","tab_background");
        }
        document.getElementById(pTab).classList.replace("tab_background","tab_focused");
      }
    </script>
    <div class="container-md">
      <!-- <div class="col-sm"></div> -->
      <div class="col-md-auto">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <!-- <a class="navbar-brand tab_focused navbar-nav" href="/">FHI Nachhaltigkeitskarte</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li><a class="nav-item nav-link tab_focused navbar-nav" id="tab_map" href="/">FHI-Nachhaltigkeitskarte</a></li>
              <li><a class="nav-item nav-link tab_background navbar-nav" id="tab_plant" href="plants">Pflanzen</a></li>
            </ul>
          </div>
        </nav>

        <div id="content", name="content", class="main">
            <div class="row justify-content-center marged">
                {% block content %}
                {% endblock %}
            </div>
        </div>
      </div>
      <!-- <div class="row footer">
        abc
      </div> -->
      <!-- <div class="col-sm"></div> -->
    </div>



    <script src="{% static '/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
  </body>
</html>