{% extends './base.html' %}
{% load icons %}
{% load static %}
{% block content %}
{% load leaflet_tags %}

<script>
    window.addEventListener("map:init", function (e) {
        var map = e.detail.map;  
        
        var area_points = "{{ waypoint_list }}";
        area_points = JSON.parse(area_points.replace(/&quot;/ig,'"'));
        if (area_points){
            for ( var i = 0; i<="{{ max_area_id }}"; i++){
                poly = [];
                area_points.forEach(waypoint => {
                    if (waypoint.fields.area == i){
                        poly.push([waypoint.fields.lat,waypoint.fields.long])
                    }
                });
                L.polygon(poly).addTo(map);
            }
        }
        var plant_points = "{{ plant_list }}";
        plant_points = JSON.parse(plant_points.replace(/&quot;/ig,'"'));
        var control = L.control.layers({}, {}, {"collapsed": false});
        if (plant_points){
            for ( var i = 0; i<="{{ max_planttype_id }}"; i++){
                group = [];
                plant_name = "";
                plant_points.forEach(plant => {
                    if (plant.type == i){
                        var customIcon = new L.Icon({
                            iconUrl: `/static/marker/marker-icon-${plant.color}.png`,
                            shadowUrl: '/static/marker/marker-shadow.png',
                            iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34],
                            shadowSize: [41, 41]
                        });
                        var marker = new L.marker([plant.lat,plant.long], {icon: customIcon});
                        group.push(marker);
                        marker.bindPopup(`<a href="plants/?name=${plant.name}" class="btn btn-primary marged" style="color: white;">${plant.name}</a>`, {closeButton: true});
                        plant_name = plant.name;
                    }
                });
                if(group.length > 0 && plant_name != ""){
                    plantGroup = L.layerGroup(group);
                    if ("{{ focus_plants }}".search(plant_name) != -1 || "{{ focus_plants }}" == []){
                        plantGroup.addTo(map);
                    }
                    control.addOverlay(plantGroup, plant_name);
                }
            }
        }
        control.addTo(map);
        console.log('{{ edit_mode }}')
        if ('{{ edit_mode }}' == "True"){
            L.easyButton('<b>X</b>', function(){
                window.open("/", "_self");
            }).addTo(map);
            
            map.on('click', function(e) {
                var marker = new L.marker([e.latlng.lat, e.latlng.lng], {draggable:true});
                updatePopup(marker);
                marker.addTo(map);

                marker.on('dragend', function (e) {
                    updatePopup(marker);
                });
            });  
            function updatePopup(marker) {
                marker.bindPopup(`<form action="" method="post">{% csrf_token %}{{ newPlantForm.non_field_errors }}
                                <div class="fieldWrapper">
                                    {{ newPlantForm.lat.errors }}
                                    <input type="hidden" name="lat" step="any" required="" id="id_lat" value=${marker.getLatLng().lat}>
                                </div>
                                <div class="fieldWrapper">
                                    {{ newPlantForm.long.errors }}
                                    <input type="hidden" name="long" step="any" required="" id="id_long" value=${marker.getLatLng().lng}>

                                </div>
                                <div class="fieldWrapper">
                                    {{ newPlantForm.plant.error }}
                                    <label for="id_plant">Pflanze</label> {{ newPlantForm.plant }}
                                </div>
                                <div class="fieldWrapper">
                                    {{ newPlantForm.area.error }}
                                    <label for="id_area">Gebiet</label> {{ newPlantForm.area }}
                                </div>
                                <input type="submit" value="Hinzufügen" class="btn btn-primary"/>
                            </form>`, 
                            {closeButton: true}
                );
            }
        }
        else{
            L.easyButton('<img src="../static/icons/Edit_icon_(the_Noun_Project_30184).svg" width="130%">', function(){
                window.open("/?edit", "_self");
            }).addTo(map);
        }
    }, false);
</script>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static '/css/easybutton.css' %}">
    <title>FHI Nachhaltigkeitskarte</title>
</head>

<body>
    <script src="{% static '/js/easybutton.js' %}"></script>    
    <script>changeActiveTab("tab_map")</script>
    {% leaflet_map "map"%}
</body>
{% endblock %}