body {
    background-color: #FFFFFF;
    color:#4b4a4a;
    position: relative;
    height: 100%;
}

.marged {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav {
    background: #EFEFD2;
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
    width: 50%;
}

.tab_focused {
    background-color: #eeeeee;
    color: #BBBBBB;
}

.tab_background {
    background-color: #BBBBBB;
    color: #3d3c3c;
}

.card {
    background: #eeeeee;
}

.card-img-top {
    border-radius: 0 0 50% 50%;
}

.card-title {
    text-align: center;
}

.leaflet-container {
    width: 100%;
    padding-top: 90%;
    /* height: 750pt; */
}

.card-focused {
    border: 10px;
    border-style: double;
    border-color: #BBBBBB;
}

.content {
    margin: 10px 25px;
    /* border-style: none solid ;
    border-color: #e0dfdf; */
    padding-bottom: 100px;
}

.footer{
    padding: 10px 30px;
    background: #bbbbbb;
    color: #3d3c3c;
    position: absolute;
    bottom: 0;
    width: 95%;
}
a.invisble{
    color: inherit;
}
a.invisble:visited {
    color: inherit;
}

.column {
    float: left;
    width: 50%;
}
